body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.forgot-password-container {
  background-color: #6c8e6e;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
}

.forgot-password-box {
  background-color: white;
  padding: 3.75rem;
  border-radius: 10px;
  max-width: 90%;
  width: 500px;
  text-align: center;
}

.forgot-password-title {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: clamp(1.8rem, 4vw, 2.5rem);
  line-height: 1.2;
  margin-bottom: 2rem;
  text-align: center;
}

.forgot-password-text {
  font-family: 'Inter', sans-serif;
  font-size: clamp(1rem, 2vw, 1.125rem);
  color: #756868;
  margin-bottom: 1.5rem;
  text-align: center;
}

.forgot-password-input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.forgot-password-button {
  background-color: #769d6b;
  color: white;
  border: none;
  padding: 0.75rem 1.25rem;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: clamp(1rem, 2vw, 1.125rem);
  transition: background-color 0.3s, transform 0.2s;
}

.forgot-password-button:hover {
  background-color: #678b5f;
  transform: scale(1.02);
}

/* Adjusted Button Container */
.forgot-password-buttons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.forgot-password-secondary-button {
  background-color: #ddd;
  color: black;
  border: none;
  padding: 0.75rem 1.25rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: clamp(1rem, 2vw, 1.125rem);
  transition: background-color 0.3s, transform 0.2s;
  width: 100%;
}

.forgot-password-secondary-button:hover {
  background-color: #bbb;
  transform: scale(1.02);
}


@media (max-width: 768px) {
  .forgot-password-box {
      padding: 2rem;
  }
}

@media (max-width: 480px) {
  .forgot-password-box {
      padding: 1.5rem;
  }
}

  